#sceneMenu {
    -fx-background-color: #E0E0E0;
}

#sceneMap {
    -fx-background-color: #E0E0E0;
}

#sceneLeaderboard {
    -fx-background-color: #E0E0E0;
}

.button {
    -fx-background-color: #ADD8E6;
    -fx-text-fill: #000000;
}

.button:hover {
    -fx-background-color: #87CEEB;
}
